# 忽略所有.DS_Store
.DS_Store
#
# 忽略.vscode
.vscode
# 忽略所有.default.html
*.default.html
# 忽略所有.scss
*.scss
# 忽略所有.js 僅保留.min.js
*.js
!*.min.js
# 忽略vscode 工作台
*.code-workspace
# 忽略Folder Icon
Icon?
# 忽略sh
clear.sh